# server
PORT = 3000

# JWT
JWT_SECRET = 1234

# KAKAO
KAKAO_REST_API_KEY = 1
KAKAO_REDIRECT_URI = 1

# GOOGLE
GOOGLE_REST_API_KEY = 1
GOOGLE_REDIRECT_URI = http://localhost:5173/auth/google
GOOGLE_SECRET_KEY = 1